Custom reduce functions

In [2]:
l = [5,3,10,6,9]

In [3]:
_max = lambda x,y:x if x > y else y

In [4]:
_max(3,4)

4

In [9]:
def max_sequence(sequence):
    result = sequence[0] #initializing
    for x in sequence[1:]:
        result = _max(result,x)
    return result

In [12]:
max_sequence(l) #reducing the sequence to a single value

10

In [13]:
_min = lambda x,y:y if x > y else x

In [14]:
def min_sequence(sequence):
    result = sequence[0] #initializing
    for x in sequence[1:]:
        result = _min(result,x)
    return result

In [15]:
min_sequence(l)

3

In [17]:
_add = lambda x,y:x+y

In [18]:
def add_sequence(sequence):
    result = sequence[0] #initializing
    for x in sequence[1:]:
        result = _add(result,x)
    return result

## Initializing the reduce function

In [19]:
def _reduce(fn, sequence):
    result = sequence[0] #initializing
    for x in sequence[1:]:
        result = fn(result,x)
    return result

In [20]:
_reduce(_max,l)

10

In [22]:
_reduce(_min,l)

3

In [23]:
_reduce(_add,l)

33

## Our reduce function doesn't work with iteratables (sets for e.g), but functools.reduce function does!! So let's implement it

In [25]:
from functools import reduce

Let's test our custom lambda on this

In [26]:
reduce(_max,l)

10

It works!! However, reduce also works on sets and not only sequences

In [27]:
reduce(_max,{1,3,4,5})

5

# Various built in iterators in Python: min, max, sum, all, any

In [28]:
s = {True,1,0,None}

In [30]:
all(s) #all returns True is all elements in the iteratable are truthy else it returns False

False

In [32]:
any(s) #any returns True is any element in the iteratable is truthy else it returns False

True

replicating all and any using reduce

In [35]:
reduce(lambda a,b: bool(a) and bool(b),{True,1,0,None}) #replicating all

False

In [36]:
reduce(lambda a,b: bool(a) or bool(b),{True,1,0,None}) #replicating any

True

# Building custom reduce functions using lambda

In [37]:
l = [5,4,3]

In [39]:
reduce(lambda a,b:a*b,l) #custom multiplication function

60

# Calculating factorial

n! = n \* (n-1) <br/>
we can also write it as 1\*2\*..\*n

In [44]:
reduce(lambda a,b: a*b,range(1,5+1)) #this is doing 1*2*3...*n #also

120

In [51]:
#for better understanding
list(range(1,5+1))

[1, 2, 3, 4, 5]