In [1]:
a = 10

In [2]:
print(type(a))

<class 'int'>

In [3]:
#a is actually an object of the int class

In [8]:
c = int()
c

0

In [9]:
c = int('101',base=2)
c

5

## Function are objects too!

In [10]:
def square(a):
    return a ** 2

In [11]:
type(square)

function

In [12]:
print(type(square))

<class 'function'>

In [13]:
id(square)

140021413415392

In [14]:
f = square

In [15]:
id(f)

140021413415392

In [16]:
f is square

True

In [17]:
square(2)

4

In [18]:
f(2)

4

In [19]:
def cube(a):
    return a ** 3

In [20]:
def select_function(fn_id):
    if fn_id == 1:
        return square
    else:
        return cube

In [22]:
s = select_function(1)
s(2)

4

In [23]:
s = select_function(2)
s(3)

27

In [24]:
def exec_function(fn,n):
    return fn(n)

In [25]:
exec_function(square,2)

4

In [26]:
exec_function(cube,3)

27