In [1]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [5]:
a = 1,2,3
tuple(a)

(1, 2, 3)

# Parantheses don't make a tuple, its actually the comma *,*

In [6]:
a = (1)
type(a) #SEE THE TYPE

int

In [9]:
#However
a = 100,
type(a)

tuple

In [10]:
d = {'a':100,'b':200,'c':300,'d':400}
a,b,c,d = d

In [11]:
a

'a'

In [12]:
b

'b'

In [13]:
c

'c'

In [14]:
d

'd'

# EXTENDED UNPACKING!

In [15]:
l = [1,2,3,4,5,6]

In [16]:
a = l[0]
b = l[1:]
print(a)
print(b)

1
[2, 3, 4, 5, 6]

In [17]:
a,b = l[0],l[1:]
print(a,b)

1 [2, 3, 4, 5, 6]

## the * operator can also be used for unpacking

In [20]:
a, *b = l
print(a,b)

1 [2, 3, 4, 5, 6]

## the difference between \* operator and slicing is that slicing can only be applied to sequences while \* can be applied to any iteratable

In [21]:
s = 'python'
a, *b = s

In [22]:
a

'p'

## \* operator always unpacks into a list

In [24]:
b

['y', 't', 'h', 'o', 'n']

In [25]:
t = ('a','b','c')
a, *b = t

In [26]:
a

'a'

In [27]:
b

['b', 'c']

In [28]:
[a,b,c] = 'XYZ'

In [29]:
print(a,b,c)

X Y Z

In [30]:
a,b,*c = 'python'
print(a,b,c)

p y ['t', 'h', 'o', 'n']

In [31]:
a,b,*c,d = s
print(a,b,c,d)

p y ['t', 'h', 'o'] n

# USEFUL SNIPPETS

In [35]:
s = "pyth"
#converting it to a list
*s, = s
print(s)

['p', 'y', 't', 'h']

# Using \* operators on the RHS side of the equation

In [36]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [*l1,*l2]
l3

[1, 2, 3, 4, 5, 6]

In [37]:
l1 = [1,2,3]
s = 'string'
[*l1,*s]

[1, 2, 3, 's', 't', 'r', 'i', 'n', 'g']

In [38]:
l1 = [1,2,3]
s1 = {'x','y','z'}
[*l1,*s1]

[1, 2, 3, 'x', 'z', 'y']

## It is important to note here that when unpacking unordered types, the order might not be retained in the unpacked list

# <u>IMP!!! YOU CAN UNPACK STARRED ASSIGNMENT TO OTHER ITERATABLES AS WELL!!!!</u>

In [58]:
s1 = 'abcd'
s2 = 'def'
[*s1,*s2]

['a', 'b', 'c', 'd', 'd', 'e', 'f']

In [59]:
{*s1,*s2} #program to make combine the list of strings with non-repeating characters

{'a', 'b', 'c', 'd', 'e', 'f'}

In [60]:
''.join(k for k in {*s1,*s2})

'cefadb'

In [72]:
s1 = {1,2,3}
s2 = {4,5,6}

In [73]:
s1 + s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [74]:
c = {*s1,*s2}
c

{1, 2, 3, 4, 5, 6}

In [75]:
#Also
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [76]:
s1 = {1,2,3}
s2 = {4,5,6}
s3 = {7,8,9}
s4 = {10,11,12}

In [78]:
print(s1.union(s2).union(s3).union(s4))

print(s1.union(s2,s3,s4))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [81]:
#Can use unpacking as well
print({*s1,*s2,*s3,*s4})
print([*s1,*s2,*s3,*s4]) #can unpack them into a list as well

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
[1, 2, 3, 4, 5, 6, 8, 9, 7, 10, 11, 12]

## Using dictionaries

In [82]:
d1 = {"key1":1,"key2":2}
d2 = {"key2":3,"key4":4}

In [83]:
{*d1,*d2}

{'key1', 'key2', 'key4'}

In [84]:
{**d1,**d2}

{'key1': 1, 'key2': 3, 'key4': 4}

In [87]:
{**d2,**d1} #the value of key2 changes as per the order of unpacking

{'key2': 2, 'key4': 4, 'key1': 1}

## Nested Unpacking!

In [89]:
a,b,c = [1,2,'XYZ']
print(a,b,c)

1 2 XYZ

In [91]:
a,b,(c,d,*e) = [1,2,'python']
print(a,b,c,d,e)

1 2 p y ['t', 'h', 'o', 'n']